.margin-auto{
    margin: 0 auto;
}

/*
html, body{
    margin: 0;
     
}

.noScroll{
    overflow: hidden;
}

.vertScroll{
    overflow-y: "scroll";
}

#container{
    width: 100%;
    height: 100%;     
}

#canvas{
    display: block; 
    margin: 0 auto;       
}

#clockText{
    width: 100%;
    display: block; 
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cog{
    width: 20px;
    height: 20px;    
}


#topBar{
    text-align: center;
}
*/